html {
  font-family: Roboto;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
}

a.active {
  color: currentColor;
  cursor: default;
  text-decoration: none;
}
